/* styles/Home.module.css */

  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #D6F4F4;
  }
  
  .header {
    background-color: #093b42;
    padding: 20px 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }
  
  .navList {
    list-style: none;
    display: flex;
    font-size: 25px;
  }
  
  .navList li {
    margin-right: 20px;
  }
  
  .navList li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .getStartedBtn {
    background-color: #74dce1f6;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 30px;
  }
  
  .getStartedBtn:hover {
    background-color: #004d40;
  }
  
  .mainContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
  }
  
  .textContainer {
    max-width: 50%;
    padding-left: 40px;
  }
  
  .textContainer h1 {
    font-size: 88px;
    color: #012420;
    font-weight: bolder;
  }
  
  .textContainer p {
    font-size: 18px;
    margin-top: 10px;
    color: #004d40;
    margin-bottom: 30px;
    text-align: justify;
  }
  
  .startBtn {
    background-color: #00897B;
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 45px;
    margin-top: 20px;
    font-size: 40px;
  }
  
  .startBtn:hover {
    background-color: #0c362f;
  }
  
  .imageContainer {
    max-width: 50%;
    padding-right: 40px;
    padding-bottom: 20px;
    background: transparent;
  }
  
  .googleImg {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  /* Button container and button styling */
.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.heroButton {
  padding: 10px 15px;
  background-color: #00897B;
  /* border: 1px solid #ddd; */
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: Bold;
  color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
}

.heroButton:hover {
  background-color:#0c362f;
  transform: scale(1.05);
}